*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/board-wood-vintage-texture-plank-floor-835792-pxhere.com.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: black;
}

hr{
    height: 1px;
    background-color: black;
    border: 0px;
    margin: 1px auto;
}

textarea{
    border: 0;
}

/*Input*/

input{
    margin: 10px 0px;
    background-color: transparent;
    border: 0px;
}
input:active{
    border: 1px solid rgb(255, 150, 150);
}
input:focus{
    background-color: rgb(254, 192, 192);
}
.nome input,
.nome_giocatore input{
    text-align: center;
}
.abilita input{
    border: 1px solid black;
    width: 40px;
    height: 20px;
    padding: 5px 2px;
    margin: 6px 10px;
    text-align: center;
}
.iniziativa input{
    margin: 10px 15px 0 15px;
    width: 70%;
    height: 70%;
    border: 2px solid rgb(252, 78, 78);
    padding: 0;
    text-align: right;
}
.punti_vita input{
    text-align: center;
    width: 40px;
    margin: 2px;
    border-bottom: 1px solid black;
}
.caratteristiche input{
    margin: 10px 2px;
    width: 35px;
    height: 30px;
    border: 1px solid grey;
    text-align: right;
}
.caratteristiche input:last-child{
    background-color: rgb(230, 168, 168);
    border-radius: 100%;
}
.tiri_salvezza input{
    width: 35px;
}
.abilita_gioco input{
    margin: 0 2px;
    cursor: pointer;
}
.abilita_gioco input[type="text"]{
    width: 40%;
    border-bottom: 2px solid black;
}
.armi input{
    font-size: 10px;
    width: 30%;
    border-bottom: 2px solid black;
}

#scheda_giocatore{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 8px;

    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 4px 6px 11px 1px black;
    width: 80%;
    height: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.tab{
    padding: 10px;
    border: 2px solid black;
}
/*Griglia*/

/*Tab Nome*/
.nome{
    text-align: center;
}

/*Tab Abilità*/
.abilita{
    font-size: 12px;
    padding: 2px;
    grid-row: 3 span;
    text-align: center;
}
.abilita div {
    display: flex;
    align-items: center;
    
    margin: 12px 0;
}
.abilita hr{
    margin: 3px 0;
}

/*Tab Iniziativa*/
.iniziativa{
    display: flex;
    justify-content: space-between;
    text-align: center;

    padding: 0;
    border: 0;
    grid-column: 2 span;
}
.col_iniziativa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    width: 30%;
    height: 100%;
}

/*Tab Razza*/
.razza{
    padding: 10px 10px 0px 10px;
    grid-column: 2 span;
}
.razza div{
    margin: 5px 0px;
}
.razza input{
    margin: 0px;
}

/*Nome Giocatore*/
.nome_giocatore{
    text-align: center;
}

/*Punti Vita*/
.punti_vita{
    grid-column: 2 span;
}
.punti_vita div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: sub;
}

/*Immagine*/
.immagine{
    padding: 0;
    border: 0;
    grid-row: 2 span;
}
.immagine img{
    max-width: 90%;
    margin: 0 5%;
}

/*Altro*/
.altro{
    grid-row: 3 span;
}

/*Caratteristiche*/
.caratteristiche{
    display: flex;
    flex-direction: column;
    grid-row: 4 span;
}
.caratteristiche div{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin: 2px 0;
}

/*Tiri Salvezza*/
.tiri_salvezza{
    grid-column: 1 span;
}
.tiri_salvezza i{
    color: red;
    margin: 5px 2px ;
}
.skull i{
    color: rgb(95, 95, 95);
    margin: 5px 2px ;
}

/*Abilità di gioco*/
.abilita_gioco{
    grid-row: 4 span;
    grid-column: 2 span;
}
.abilita_gioco div{
    margin: 5px 0;
}

/*Armi*/
.armi{
    grid-row: 2 span;
    grid-column: 2 span;
}
.armi div{
    display: flex;
    justify-content: space-between;
}

/*Tratti*/
.tratti{
    grid-row: 2 span;
}

/*Note*/
.note{
    font-size: 10px;
    grid-column: 2 span;
    grid-row: 2 span;
}

/*Immagine*/
.immagine_2{
    padding: 0;
    border: 0;
    grid-row:  1 span;
}
.immagine_2 img{
    max-width:100%;
}


/*Equpaggiamento*/
.equipaggiamento{
    text-align: center;
    grid-row: 4 span;
}
.equipaggiamento input{
    text-align: center;
    border-bottom: 2px solid black;
}


.immagine_3{

}
.ispirazione{
    grid-column: 2 span;
}
.immagine_4{
    grid-column: 2 span;
    grid-row: 2 span;
}
.linguaggio{
    grid-column: 3 span;
}

/*Logo Immagine*/
.logo{
    border: 0;
    grid-column: 5 span;
}
.logo img{
    max-width: 100%;
}